body{
    margin: 0;
    padding: 0;
}

/*********  index   *********/
.index_body{
    width: 100%;
    height: 667px;
    position: relative;
    background: #414143;
    background: url("../images/index_bg.jpg") 140px -60px;
    overflow: hidden;
}
.index_body .user_top{
    width: 40px;
    height:100%;
    background: #ffffff;
    border-bottom: 2px solid #e7e7e9;
    position: fixed;
    z-index:100;
    right:-36px;
    border-radius: 6px;
}
.inside_body{
    width: 1200px;
    min-height:600px;
    position: relative;
    margin: 100px auto;
}
.index_body ul{
    margin:0;
    padding: 0;
    list-style: none;
}
.show{
    position: absolute;
    top: 40px;
    z-index: 19;
    opacity: 0;
}
.hot{
    width: 2000px;
    position: relative;
    left: 56px;
}
.hot li{
    position: relative;
    top: 100px;
    width: 260px;
    height: 260px;
    float: left;
    transform:rotate(45deg);
    margin-right: 150px;
    overflow: hidden;
}
.hot_small{
    position: absolute;
    left: 230px;
    top: -100px;
}
.hot_small_right{
    left: 642px;
}
.hot_small li{
    position: relative;
    top: 70px;
    width: 120px;
    height: 120px;
    float: left;
    transform:rotate(45deg);
    margin-right: -20px;
    overflow: hidden;
}
.hot_small .li_center{
    top:170px;
}
.hot_small_down{
    position: absolute;
    left: 230px;
    top: 300px;
}
.hot_small_down li{
    position: relative;
    top: 70px;
    width: 120px;
    height: 120px;
    float: left;
    transform:rotate(45deg);
    margin-right: -20px;
    overflow: hidden;
}
.hot_small_down .li_center{
    top: -30px;
}
.inside_body .hot_small_down_right{
    left: 640px;
}
.hot_cover{
    position: absolute;
    width: 500px;
    height: 500px;
    top: -100px;
    left: -100px;
    z-index: 10;
    transform: rotate(-45deg);
    background: rgba(225,225,225,0.5);
    opacity: 0;
}
.hot_small_cover{
    position: absolute;
    width: 300px;
    height: 300px;
    top: -100px;
    left: -100px;
    transform: rotate(-45deg);
    background: rgba(225,225,225,0.5);
    opacity: 0;
    z-index: 10;
}
.nav{
    position: fixed;
    top: 240px;
    left: -30px;
    z-index: 20;
}
.nav li{
    width: 120px;
    height: 24px;
    border:1px solid black;
    background: #cecece;
    margin-top: 4px;
    position: relative;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    font-family: "Georgia", Tahoma, Sans-Serif;
    font-size: 14px;
    color: #888;
    line-height: 24px;
}
.nav li a{
    color: #555555;
    text-decoration: none;
}
.nav li a:link{
    color: #555555;
}
.nav li a:visited{
    color: #555555;
}
.hot_small_right img,.hot_small_left img,.hot_small_down_left img,.hot_small_down_right img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: -50px;
    left: -50px;
    transform: rotate(-45deg);
}
.hot_cover a,.hot_small_cover a{
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    text-align: center;
    text-decoration: none;
    font-family: 'Lucida Console',微软雅黑;
    font-size: 18px;
    color: #262626;
    line-height: 130px;
}
.hot_cover a{
    font-size:24px;
    line-height: 40px;
}
.hot_cover a,.hot_small_cover a:hover{
    color: black;
}

.game{
    position: absolute;
    top: 0px;
}
.game img{
    border: 2px solid #cecece;
}
.game1{
    width:340px;
    height:540px;
    background: red;
    position: relative;
    top: 100px;
    left: 320px;
    float: left;
    opacity: 0;
}
.game2{
    width: 130px;
    height: 240px;
    background: blue;
    position: relative;
    top: 100px;
    left: 330px;
    float: left;
    opacity: 0;
}
.game3{
    width: 130px;
    height: 240px;
    background: darkgray;
    position: relative;
    top: 100px;
    left: 340px;
    float: left;
    opacity: 0;
}
.game4{
    width: 130px;
    height: 240px;
    background: #bc2b30;
    position: relative;
    top: 100px;
    left: 350px;
    float: left;
    opacity: 0;
}



.shoes{
    position: absolute;
    top:40px;
    left:0;
    width: 100%;
    height: 440px;
    opacity: 0;
}
.shoes div{
    float: left;
}
.shoes_left{
    width: 300px;
    height: 400px;
    border-radius: 8px;
    border: 2px solid darkgray;
    position: relative;
    margin-right: 50px;
    margin-left: 140px;
    overflow: hidden;
}
.shoes_left_pic{
    width: 1200px;
    height: 400px;
    position: absolute;
    left: -900px;
}
.shoes_left_pic img{
    width: 300px;
    height:400px;
    border-radius: 8px;
    position: absolute;
}
.lf1{
    left: 900px;
}
.lf2{
    left: 600px;
}
.lf3{
    left: 300px;
}
.shoes_mid{
    width: 300px;
    height: 400px;
    border: 2px solid darkgray;
    border-radius: 8px;
    position: relative;
    margin-right: 50px;
    overflow: hidden;
}
.shoes_mid_pic{
    width: 300px;
    height: 1600px;
    position: absolute;
}
.shoes_mid_pic img{
    width: 300px;
    height:400px;
    border-radius: 6px;
    position: absolute;
}
.mid2{
    top: 400px;
}
.mid3{
    top: 800px;
}
.mid4{
    top: 1200px;
}
.shoes_right{
    width: 300px;
    height: 400px;
    border: 2px solid darkgray;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}
.shoes_right_pic{
    width: 1200px;
    height: 400px;
    position: absolute;
}
.shoes_right_pic img{
    width: 300px;
    height:400px;
    border-radius: 8px;
    position: absolute;
}
.ri2{
    left: 300px;
}
.ri3{
    left: 600px;
}
.ri4{
    left: 900px;
}
.shoes ul{
    clear: both;
    list-style: none;
    position: relative;
    left: 600px;
    top: 20px;
    padding: 0;
}
.shoes_circle{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    display: block;
    float: left;
    border: 2px solid #5d5d5d;
    margin-right: 10px;
}
.ll{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    display: block;
    float: left;
    border: 2px solid #5d5d5d;
    margin-right: 10px;
    background: #5d5d5d;
}
.container_cover{
    width: 0;
    height:1px;
    background: #cecece;
    position: absolute;
    top:8px;
}



.container {
    position: absolute;
    margin: -39px auto;
    top: 0;
    width: 100%;
    z-index:50;
    height: 58px;
}
/* general styles */
.menu, .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu {
    position: relative;
    top: 40px;
    height: 58px;
}
.menu li {
    background: linear-gradient(#292929, #252525);
    border-bottom: 2px solid #181818;
    border-top: 2px solid #303030;
    min-width: 151px;
}
.menu > li {
    display: block;
    float: left;
    position: relative;
}
.menu > li:first-child {
    border-radius: 5px 0 0;
}
.menu a {
    border-left: 3px solid rgba(0, 0, 0, 0);
    display: block;
    font: 18px 微软雅黑;
    color: #888;
    line-height: 54px;
    padding: 0 25px;
    text-decoration: none;
    text-transform: uppercase;
}
/* onhover styles */
.menu li:hover {
    background: linear-gradient(#1c1c1c, #1b1b1b);
    border-bottom: 2px solid #222222;
    border-top: 2px solid #1B1B1B;
}
.menu li:hover > a {
    border-left: 3px solid #C4302B;
    color: #C4302B;
}

/* submenu styles */
.submenu {
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    z-index: 12;
    perspective: 400px;
}
.submenu li {
    opacity: 0;
    transform: rotateY(90deg);
    transition: opacity .4s, transform .5s;
}
.menu .submenu li:hover a {
    border-left: 3px solid #454545;
    border-radius: 0;
    color: #ffffff;
}
.menu > li:hover .submenu, .menu > li:focus .submenu {
    max-height: 2000px;
    z-index: 10;
}
.menu > li:hover .submenu li, .menu > li:focus .submenu li {
    opacity: 1;
    transform: none;
}

/* CSS3 delays for transition effects */
.menu li:hover .submenu li:nth-child(1) {
    transition-delay: 0s;
}
.menu li:hover .submenu li:nth-child(2) {
    transition-delay: 50ms;
}
.menu li:hover .submenu li:nth-child(3) {
    transition-delay: 100ms;
}
.menu li:hover .submenu li:nth-child(4) {
    transition-delay: 150ms;
}
.menu li:hover .submenu li:nth-child(5) {
    transition-delay: 200ms;
}
.menu li:hover .submenu li:nth-child(6) {
    transition-delay: 250ms;
}
.menu li:hover .submenu li:nth-child(7) {
    transition-delay: 300ms;
}
.menu li:hover .submenu li:nth-child(8) {
    transition-delay: 350ms;
}

.submenu li:nth-child(1) {
    transition-delay: 350ms;
}
.submenu li:nth-child(2) {
    transition-delay: 300ms;
}
.submenu li:nth-child(3) {
    transition-delay: 250ms;
}
.submenu li:nth-child(4) {
    transition-delay: 200ms;
}
.submenu li:nth-child(5) {
    transition-delay: 150ms;
}
.submenu li:nth-child(6) {
    transition-delay: 100ms;
}
.submenu li:nth-child(7) {
    transition-delay: 50ms;
}
.submenu li:nth-child(8) {
    transition-delay: 0s;
}


.forget{
    color: red;
}
#error{
    border:1px solid #868686;
    border-radius: 6px;
    font: 12px 微软雅黑;
    padding-left: 38px;
    color: #4d4d4d;
    width: 274px;
    height: 28px;
    line-height: 28px;
    display: none;
    position: absolute;
    top: 34px;
    left: 22px;
}
.user_login input{
    height: 36px;
    width: 264px;
    padding-left: 46px;
    font:14px 微软雅黑;
    color: #aeaeae;
    border: 1px solid #dddddd;
}
#uname{
    border-radius: 6px;
    position: relative;
    top: 80px;
    left: 24px;
    background: url("../images/uname.png") left no-repeat white;
}
#pwd{
    border-radius: 6px;
    position: relative;
    color: black;
    top: 86px;
    left: 24px;
    background: url("../images/pwd.png") left no-repeat white;
}
.login{
    border-radius: 6px;
    height: 46px;
    width: 150px;
    background: url("../images/login_button.png")6px -10px no-repeat #1f141a;
    color: white;
    font:bold 16px 微软雅黑;
    border: none;
    letter-spacing: 10px;
    position: relative;
    top: 120px;
    left: 24px;
    text-align: right;
}
.login:hover{
    background:url("../images/login_hover.png") white 15px -3px no-repeat;
    color: #21161c;
}
.register{
    border-radius: 6px;
    height: 46px;
    width: 150px;
    background: url("../images/register.png")24px 0px no-repeat #1f141a;
    color: white;
    font:bold 16px 微软雅黑;
    border: none;
    letter-spacing: 10px;
    position: relative;
    top: 120px;
    left: 24px;
    text-align: right;
}
.register:hover{
    background:url("../images/register_hover.png") white 28px 0px no-repeat;
    color: #21161c;
}
#reset{
    position: absolute;
    top:82px;
    right: 30px;
    height: 36px;
    display: none;
}
.user_login{
    width:360px;
    height: 340px;
    position: absolute;
    border-radius: 12px;
    top: 100px;
    right:60px;
    background-color: rgba(15, 22, 42, 0.3);
}
.login_body{
    position: relative;
    background: url("../images/login_bg.jpg");
    width: 100%;
    min-height: 667px;
}
.user_register{
    width: 500px;
    height: 500px;
    background-color: rgba(15, 22, 42, 0.3);
    border-radius: 12px;
    position: relative;
    top: 40px;
    left: 440px;
    display: none;
}
.user_register label{
    width: 100px;
    display: inline-block;
    text-align: right;
    font:bold 18px 微软雅黑;
    color: rgba(229, 229, 229, 0.87);
}
.user_register input{
    border-radius: 6px;
    border: none;
    width: 340px;
    height: 36px;
    font: 16px 微软雅黑;
    padding-left: 8px;
    margin-bottom: 10px;
}
#register_name{
    margin-top: 26px;
}
#content{
    font: 16px 微软雅黑;
    border-radius: 8px;
    padding-left: 8px;
    padding-top: 4px;
}
.person{
    position: relative;
    top: -110px;
}
#button_register{
    height: 46px;
    width: 150px;
    background: url("../images/register.png")24px 0px no-repeat #1f141a;
    color: white;
    border-radius: 6px;
    position: relative;
    left: 300px;
    font:bold 16px 微软雅黑;
    border: none;
    letter-spacing: 10px;
    text-align: right;
}
#button_register:hover{
    background:url("../images/register_hover.png") white 28px 0px no-repeat;
    color: #21161c;
}
.input_bg{
    position: absolute;
    width: 1px;
    height: 1px;
    border: 10px solid transparent;
    border-color: white #f0f0f0 white white;
    top: 30px;
    left: 426px;
    display: none;
}
#input_bg1{
    top: 96px;
}
.input_name{
    background: #f0f0f0;
    width: 140px;
    min-height: 50px;
    font: 13px 微软雅黑;
    position: absolute;
    top: -16px;
    left: 10px;
    text-align: left;
    border-radius: 4px;
    border: 1px solid #D0C8BC;
    border-left: none;
}
.input_name ul{
    margin-left: 30px;
    padding: 0;
    list-style: circle;
    text-align:left;
    height: 20px;
}
#input_bg2{
    top: 160px;
}
#input_bg3{
    top: 230px;
}
#register_success{
    border-radius: 10px;
    background-color: rgba(15, 22, 42, 0.3);
    width: 360px;
    height: 100px;
    position: absolute;
    top: 30%;
    left:50%;
    margin-left: -180px;
    text-align: center;
    display: none;
}
#register_success span{
    font:bold 16px 微软雅黑;
    color: white;
}
#login_now{
    width: 200px;
    height: 50px;
    font:bold 16px 微软雅黑;
    border: 0;
    color: white;
    border-radius: 6px;
    letter-spacing: 10px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -25px;
    background: #21161c;
}
#login_now:hover{
    color: #21161c;
    background: white;
}
#register_x{
    display: block;
    color: rgba(15, 22, 42, 0.3);
    font:bold 24px 微软雅黑;
    position: absolute;
    top: 0;
    right: 8px;
    display: block;
}
#register_x:link{
    text-decoration: none;
}
#register_x:hover{
    color: white;
}

/*** manager ****/
#manager_top a:link{
    text-decoration: none;
    color: black;
}
#manager_top a:visited{
    color: black;
}
#manager_top a:hover{
    color: #868686;
}
.manager_bg{
    width: 100%;
    min-height: 866px;
    background: url("../images/manager_bg.jpg")0 -200px repeat-y;
}
#table_bg{
    position: absolute;
    top: 50px;
    left: 50px;
}
#manager_top{
    width: 100%;
    height: 34px;
    position: absolute;
    top:0;
    border-bottom: 1px solid #b9b9b9;
    background: rgba(225,225,225,0.8);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font: 14px 微软雅黑;
}
#manager_hide{
    position: absolute;
    right: 40px;
    top: 4px;
    color: #3f2a33;
}
#manager_hide:hover{
    color: #868686;
}
#manager_show{
    position: absolute;
    right: 33px;
    width: 40px;
    height: 30px;
    border: 1px solid #b9b9b9;
    border-top:none;
    background: rgba(225,225,225,0.8);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-top: 4px;
    text-align: center;
    display: none;
}
.manager_welcome{
    position: absolute;
    top: 4px;
    left: 30px;
}
.manager_span{
    color: #ae0000;
    margin-left: 10px;
    margin-right: 20px;
}
#manager_time{
    margin-right: 10px;
}
.manager_member:hover{
    color: #ae0000;
}
#table_bg a:visited{
    color: blue;
}
#table_bg{
    padding-top:20px;
    width:668px;
    margin:0 auto;
    letter-spacing:1px;
    font-family:Georgia, "Times New Roman", Times, serif;
}
#table_bg table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    -webkit-box-shadow:  0px 2px 1px 5px rgba(242, 242, 242, 0.1);
    box-shadow:  30px 30px 10px 0px rgba(0, 0, 0, 0.58);
    border: 1px solid #555;
}
#table_bg table td {
    border-left: 1px solid #555;
    border-top: 1px solid #555;
    padding: 10px;
    text-align: left;
    width: 146px;
}
#table_bg table th,  #table_bg table th:hover {
    border-left: 1px solid #555;
    border-bottom: 1px solid #828282;
    padding: 20px;
    background-color:#151515 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#151515), to(#404040)) !important;
    color:#fff !important;
}
#table_bg table tr:nth-child(even) {
    background: rgba(79, 79, 79, 0.67) !important;
    color:#fff;
}
#table_bg table tr:hover *{
    background: #eeeeee;
    color:#000;
}
#table_bg table tr {
    background:#404040;
    color:#fff;
    width: 100%;
}
#login_out{
    color: blue;
    margin-left: 10px;
    position: absolute;
    right: 80px;
    top:4px;
}
#login_out:hover{
    color: red;
}
.button {
    text-transform: uppercase;
    min-height: 1.5em;
    display: inline-block;
    padding: 12px 36px;
    cursor: pointer;
    opacity: 0.9;
    color: #FFF;
    font-size: 1em;
    letter-spacing: 1px;
    text-shadow: rgba(0,0,0,0.9) 0px 1px 2px;
    background: #434343;
    border: 1px solid #242424;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    -khtml-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    -moz-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    -o-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    -webkit-transition: all 0.1s linear;
    -khtml-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.button:hover {
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    -khtml-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    -o-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
}
.button:active {
    -webkit-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px,inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    -khtml-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px,inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    -moz-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    -o-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
}
.shine {
    display: block;
    position: relative;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
    background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    padding: 0px 12px;
    top: -12px;
    left: -24px;
    height: 1px;
    -webkit-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
    -khtml-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
    -moz-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
    -o-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
    box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.button:hover .shine {left: 24px;}
.button:active .shine {opacity: 0;}

/************** single_product ***************/
.single_body{
    width: 1359px;
    min-height: 866px;
    position: relative;
    top: 5px;
}
.single_body ul li{
    float: left;
}
.single_body .menu a {
    line-height: 40px;
}
.single_body .container {
    top: 10px;
}
#index{
    text-align: right;
}
.product_show{
    width:1200px;
    min-height: 500px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -600px;
}
.product_show ul{
    width: 200px;
    height: 220px;
    margin:0;
    padding: 0;
}
.product_show ul li{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #555;
    float: none;
    margin-top: 10px;
    position: relative;
    top: 10px;
    left: 30px;
}
.product_left div{
    width: 190px;
    padding-left: 10px;
    height:30px;
    font: bold 14px 微软雅黑;
    color: #555;
    line-height: 30px;
    background: #f7f7f7;
    border: 1px solid #cecece;
    position: relative;
}
.single_body .product_left a{
    text-decoration: none;
    position: relative;
    top: -1px;
    left: 4px;
}
.single_body .product_left a:link,.single_body .product_left a:visited{
    color: inherit;
}
.product_left_side{
    position: relative;
    left: 0;
}
.product_right_side{
    position: absolute;
    top: 0;
    left: 250px;
}
.product_right_side .pic_big{
    width: 300px;
    height: 400px;
    border: 1px solid #cecece;
}
.pic_big img{
    width: 300px;
    height: 400px;
}
.pic_small img{
    width: 90px;
    height: 100px;
}
.product_right_side .pic_small{
    padding: 0;
    margin:0;
    position: absolute;
    width: 530px;
    height: 124px;
    bottom:12px;
}
.product_right_side .pic_small li{
    width: 90px;
    height: 100px;
    margin-right: 13px;
    border: 1px solid #cecece;
    float: left;
    position: relative;
    top: 0;
    left: 0;
}
.left_pic_show{
    position: absolute;
    width: 302px;
    height: 540px;
    overflow: hidden;
}
.right_side_content{
    position: absolute;
    width: 640px;
    left: 320px;
}
#product_price,#product_price span{
    font:30px 微软雅黑;
}
.product_name{
    font: 20px 微软雅黑;
    margin-bottom: 10px;
}
.right_side_content span{
    font: 15px 微软雅黑;
}
.right_side_content ul{
    width: 200px;
    height: 30px;
    margin:0;
    padding: 0;
    position: relative;
}
.right_side_content ul li{
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    font: 13px 微软雅黑;
    line-height: 30px;
    margin-right: 20px;
    color: white;
    background: #555;
    float: left;
    text-align: center;
}
.right_side_content ul li a:link,.right_side_content ul li a:visited{
    text-decoration: none;
    color: inherit;
}
.right_side_content ul li:hover,.right_side_content .product_number span:hover{
    background: #ffaf04;
}
.right_side_content button{
    position: relative;
    top: 20px;
    display: inline-block;
    font: 16px 微软雅黑;
    width: 180px;
    height: 50px;
    border: none;
    border-bottom: 4px solid #1e1e1e;
    background: #555;
    color: white;
    letter-spacing: 10px;
    margin-right: 20px;
    text-align: center;
}
.right_side_content button a:link,.right_side_content button a:visited{
    text-decoration: none;
    color: inherit;
}
.right_side_content button:hover{
    background: #ffaf04;
    border-color: rgba(0, 0, 0, 0.2);
}
.right_side_content .saved{
    font: 15px 微软雅黑;
    margin-bottom: 5px;
}
.product_number{
    font: 16px 微软雅黑;
}
.right_side_content .product_number span{
    width: 10px;
    height: 20px;
    font: 14px 微软雅黑;
    color: white;
    display: inline-block;
    text-align: center;
    background: #555;
    position: relative;
    top: 1px;
}
.right_side_content .product_number input{
    width: 20px;
    height:20px;
    text-align: center;
}
.right_side_content .product_number a:link,.right_side_content .product_number a:visited{
    text-decoration: none;
    color: inherit;
}
.product_content{
    width: 90%;
    height: 96px;
    position: relative;
    top: 40px;
    font: 14px 微软雅黑;
    color: #808080;
}
.product_show .product_down{
    position: absolute;
    right: 0;
    bottom: -30px;
    width: 950px;
    height: 162px;
    float: left;
    overflow: hidden;
}
.product_show .product_down ul{
    width: 2112px;
    height: 162px;
}
.product_show .product_down ul li{
    margin: 0;
    padding: 0;
    width: 190px;
    height: 160px;
    float: left;
    position: relative;
    top: 0;
    left: 0;
}
.product_show .product_down ul li img{
    width: 140px;
    height: 160px;
    position: relative;
    left: 50%;
    margin-left: -70px;
}
.point_left,.point_right,.small_point_left,.small_point_right{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    display: inline-block;
    width: 16px;
    height: 30px;
    background: rgba(0,0,0,0.7);
    color: white;
    font: 20px 宋体;
    text-align: center;
    line-height: 30px;
    z-index: 5;
    cursor: pointer;
}
.point_left,.small_point_left{
    left: 0;
}
.point_right,.small_point_right{
    right: 0;
}
.small_point_left,.small_point_right{
    top: 464px;
    background: rgba(190, 190, 190, 0.7);
}
.product_down ul li img,.pic_small ul li img{
    cursor: pointer;
}
.down_content{
    width: 190px;
    height: 30px;
    position: absolute;
    bottom: 0;
    text-align: center;
}
.it_name{
    display: inline-block;
    font: 13px 微软雅黑;
}
.it_price{
    display: inline-block;
    font: 13px 微软雅黑;
    color: black;
}
/*********************** user_top *************************/
#user_top{
    width: 100%;
    height: 34px;
    position: absolute;
    top:0;
    border-bottom: 1px solid #b9b9b9;
    background: rgba(225,225,225,0.6);
    font: 14px 微软雅黑;
    line-height:32px;
}
.user_name{
    color:red;
    position:absolute;
    left:200px;
    display:inline-block;
    width:60px;
    height:36px;
    padding-left:15px;
}
.user_more{
    display:inline;
    position:absolute;
    top:15px;
    margin-left:14px;
    border:3px solid black;
    border-color:#898989 transparent transparent transparent;
    z-index: 10;
}
.user_namebg{
    width:220px;
    height:120px;
    position:absolute;
    left:-57px;
    top:16px;
    display:none;
    background:white;
    border-radius:4px;
    z-index: 10;
}
#user_top a:link{
    text-decoration: none;
    color: #3d3d3d;
}
#user_top a:visited{
    color:#3d3d3d;
}
#user_top a:hover{
    color:red;
}
.inorout{
    position:absolute;
    top:0;
    right:6px;
}
.user_namebg img{
    position:absolute;
    width: 90px;
    height:90px;
    top:20px;
    left:10px;
    border: 1px solid #cecece;
}
.user_namebg span{
    color:#cecece;
}
.user_name:hover{
    background:white;
}
.user_name:hover .user_namebg{
    display:block;
}
.welcome_top{
    position:absolute;
    left:150px;
}


/****************shop_area**********************/
.shop_body{
    width: 1346px;
    min-height: 2100px;
    position: relative;
    top: 100px;
    overflow: hidden;
}
.shop_body a:link,.shop_body a:visited{
    color: inherit;
    text-decoration: none;
}
.banner_scroll{
    width: 1346px;
    height: 510px;
    border:1px solid #535353;
    position: relative;
    overflow: hidden;
}
.banner{
    width: 8076px;
    margin: 0;
    padding: 0;
}
.banner_scroll .banner li{
    list-style: none;
    width: 1346px;
    height: 510px;
    float: left;
    margin: 0;
    padding: 0;
}
.banner_scroll .banner img{
    width: 1346px;
    height:510px;
}
.right_button,.left_button{
    position: absolute;
    top: 170px;
    display: inline-block;
    width: 40px;
    height: 120px;
    cursor: pointer;
}
.right_button{
    left: 0;
    background: url("../images/shop_right.png");
}
.right_button:hover{
    background: url("../images/shop_right_hover.png");
}
.left_button{
    right: 0;
    background: url("../images/shop_left.png");
}
.left_button:hover{
    background: url("../images/shop_left_hover.png");
}
.radius{
    position: relative;
    top: 40px;
    width: 100%;
}
.radius span{
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    font:15px 'Lucida Console', 微软雅黑;
    border: 1px solid #8b8b8b;
    border-radius: 75px;
    right: 0;
    margin-right: 120px;
    cursor: pointer;
}
.radius span p{
    position: relative;
    width: 100px;
    right: -80px;
    border-bottom: 1px solid black;
    text-align: center;
}
.radius_cover{
    position: absolute;
    right: -11px;
    top: 7px;
    width: 25px;
    height: 58px;
    background: url("../images/radius.png");
}
.radius_choose{
    font:18px 'Lucida Console', 微软雅黑;
    color: #4d4d4d;
    display: inline-block;
    width: 460px;
    height: 75px;
    margin-left: 40px;
    position: relative;
    top: 10px;
}
.radius1{
    background: url("../images/radius1.png");
}
.radius2{
    background: url("../images/radius2.png");
}
.radius3{
    background: url("../images/radius3.png");
}
.radius4{
    background: url("../images/radius4.png");
}
.banner_down{
    width: 100%;
    border: 1px solid #a1a1a1;
    background: #a1a1a1;
    position: relative;
    top: 80px;
}
.banner_down li{
    width: 300px;
    height: 400px;
    border: 1px solid #cecece;
    list-style: none;
    margin-right: 100px;
    position: relative;
    margin-top: 40px;
    overflow: hidden;
}
.banner_down li.first{
    margin-left: 70px;
}
.shoes_name{
    position: absolute;
    top: 20px;
    left: 20px;
    font: 14px 微软雅黑;
    color:black;
    z-index: 5;
}
.shoes_name .color-dark{
    color: #828282;
    position: relative;
    top: 6px;
}
.shoes_down{
    width: 300px;
    position: absolute;
    bottom: 0;
}
.banner_down ul li button{
    float: left;
    display: inline-block;
    font: 16px 微软雅黑;
    width: 150px;
    height: 50px;
    border: none;
    border-bottom: 4px solid #1e1e1e;
    background: #555;
    color: white;
    letter-spacing: 10px;
    text-align: center;
    cursor: pointer;
}
.banner_down ul li button:hover{
    background: #ffaf04;
    border-color: rgba(0, 0, 0, 0.2);
}
.banner_down ul li button:last-child{
    border-left: 1px solid #333333;
}
.shoes_down div{
    font: 20px 微软雅黑;
    color: black;
    position: absolute;
    top: -50px;
    left: 30px;
}
.down_logo{
    width: 100%;
    height: 30px;
    background: #0a0a0c;
    position: absolute;
    bottom: 0;
}
.down_logo div{
    display: inline-block;
    color: white;
    font: 14px 微软雅黑;
    position: relative;
    left: 110px;
    margin-right: 120px;
}
.down_logo div img{
    position: relative;
    top: 4px;
    left: 1px;
}
.down_logo div .color_y{
    color: #ffaf07;
}
.banner_down img{
    width: 300px;
    height: 400px;
    position: absolute;
    top: 0;
}
.down_go{
    width: 100px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    font: 15px 微软雅黑;
    background: #0a0a0d;
    z-index: 10;
    color: white;
    line-height: 40px;
    text-align: center;
    left: 50%;
    margin-left: -300px;
    letter-spacing: 4px;
    cursor: pointer;
}
.down_go:hover{
    background: #ffaf04;
}
.down_logo p{
    position: relative;
    top: -30px;
    left: 30px;
    display: inline-block;
}


/************* personal_center **************/
.personal_body{
    width:100%;
    min-height:666px;
    background:url("../images/personal_bg.jpg")-240px -10px;
    position:absolute;
    top:0;
}
.personal_data{
    width:990px;
    height:540px;
    border:1px solid #828282;
    position:absolute;
    top:110px;
    left:50%;
    margin-left:-495px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 10px 10px 100px 0px;
}
.personal_data_left{
    position:absolute;
    top:0;
    left:0;
    width:220px;
    height:540px;
    border-right:1px solid rgba(0, 0, 0, 0.33);
    font: 16px 微软雅黑;
    background:#e1e1e1;
    border-top-left-radius: 10px;
}
.stick_left .personal_data_right{
    position:absolute;
    top:0;
    right:-770px;
    width:747px;
    height:540px;
    border-top-right-radius: 10px;
    background:rgba(255,255,255,0.9);
    font:14px 微软雅黑;
    letter-spacing:1px;
    display:none;
}
.stick_left .personal_data_right img{
    width:100px;
    height:100px;
    position:relative;
    top:100px;
    left:-36px;
    border-radius:0;
    border:3px solid #cecece;
}
.stick_left{
    width:224px;
    height:34px;
    letter-spacing:20px;
    border:1px solid #cecece;
    border-left:none;
    margin-bottom:10px;
    text-align:center;
    line-height:34px;
    background:white;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    box-shadow: 2px 0px 20px 0px;
}
.personal_data_left img{
    width:150px;
    height:150px;
    border-radius:6px;
    margin-top:20px;
    margin-bottom:20px;
    margin:20px 35px 20px;
}
.thought_line{
    width:747px;
    height:34px;
    border-bottom:1px solid #AFAFAF;
    line-height:40px;
    position:relative;
}
.thought_line span{
    display:block;
    position:absolute;
    top:10px;
    left:10px;
    width:80px;
    height:24px;
    line-height:24px;
    background:#f9f9f9;
    border:1px solid #AFAFAF;
    border-bottom:none;
}
.stick_left:hover{
    margin-left:20px;
}
.stick_left:hover .personal_data_right{
    display:block;
}
.now_head{
    position:relative;
    width:100px;
    height:100px;
    display:inline-block;
}
.change_head{
    position:absolute;
    width:100px;
    height:26px;
    background:rgba(0,0,0,0.6);
    top:197px;
    left:2px;
    color:#cecece;
    line-height:26px;
    display:none;
    text-align:center;
}
.now_head:hover .change_head{
    display:block;
}
.now_head a:link{
    text-decoration: none;
}
.now_head a:hover{
    text-decoration: underline;
}
.persons_date{
    position:relative;
    left:60px;
    top:-100px;
}
.persons_date div{
    text-align:left;
}
.persons_date_span{
    width:100px;
    display:inline-block;
    font:15px 微软雅黑;
    margin-bottom:20px;
}
.date_head{
    height:240px;
}
.date_content{
    position:relative;
    top:-70px;
}
.person_save{
    position:relative;
    width:64px;
    height:30px;
    border-radius:6px;
    border:0;
    top:14px;
    left:100px;
    color:#575757;
}
.submit_line{
    width:620px;
    border-top:1px solid #AFAFAF;
    position:absolute;
    left:0px;
}
.php_hide{
    display:none;
}
.check{
    width:600px;
    height:80px;
    line-height:80px;
    position:relative;
    top:-100px;
    border-bottom:1px solid #AFAFAF;
}
.check label{
    width:120px;
    height:30px;
    display:inline-block;
}
.submit_line_none{
    top:160px;
    border:none;
}
.color_red{
    color:red;
}
.none_position{
    top:400px;
}
.php_hide{
    display:none;
}
.address{
    position: absolute;
    top:140px;
}
.address label{
    display: inline-block;
    width: 100px;
    height:40px;
}
.address_detail{
    margin-top: -20px;
}
.address_detail label{
    position: relative;
    top:-80px;
}
.open_img {
    width: 300px;
    height: 400px;
    border: 1px solid #cecece;
    overflow: hidden;
    z-index: 10;
    display: none;
    position: absolute;
}
.small_block{
    position: absolute;
    width: 60px;
    height: 60px;
    border: 1px solid #000000;
    display: none;
    background-color: #9e9e9e;
    opacity: 0.3;
    z-index: 10;
}
.pic_big{
    position: relative;
    overflow: hidden;
}
.count_container{
    width: 900px;
    height: 600px;
    position: absolute;
    top: 50%;
    margin-top: -300px;
    left: 50%;
    margin-left: -450px;
}
.count_top{
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    border-bottom: 3px solid darkgray;
}
.count_top_left{
    width: 40%;
    height: 100%;
    text-align: left;
    font: 18px 微软雅黑;
    color: #dc0000;
    padding-left: 10px;
    line-height: 30px;
    border-bottom: 3px solid darkred;
    position: absolute;
    left: 0;
}
.count_top_right{
    width: 50%;
    height: 100%;
    text-align: right;
    font: 16px 微软雅黑;
    color: #1f141a;
    position: absolute;
    right: 0;
    line-height: 34px;
    padding-right: 20px;
}
.count_good{
    width: 100%;
    height: 420px;
    border: 1px solid darkgray;
    position: absolute;
    top: 80px;
}
.count_good img{
    width: 300px;
    height: 400px;
    border: 1px solid darkgray;
    position: absolute;
    top: 10px;
    left: 10px;
}
.count_good_right{
    width: 550px;
    height: 400px;
    position: absolute;
    top: 10px;
    right: 20px;
    font-family: 微软雅黑;
    font-weight: bold;
}
.count_good_right p:first-child{
    margin: 0;
    padding: 0;
    font:22px 微软雅黑;
}
.count_good_right p:last-child{
    color: #8b8b8b;
    font-size: 15px;
    font-weight: 100;
}
.pay{
    width: 100%;
    background: #e5e5e5;
    height: 50px;
    position: absolute;
    bottom: 0;
}
.pay_now{
    width: 180px;
    position: absolute;
    right: 0;
    display: inline-block;
    font: 18px 微软雅黑;
    height: 50px;
    border: none;
    border-bottom: 4px solid #1e1e1e;
    background: #555;
    color: white;
    letter-spacing: 50px;
    text-align: right;
    cursor: pointer;
}
.pay_now:hover{
    background: #ffaf04;
    border-color: rgba(0, 0, 0, 0.2);
}
.pay span{
    font:bold 16px 微软雅黑;
}
.pay_span{
    position: relative;
    left: 400px;
    display: inline-block;
    line-height: 50px;
}
.news_body{
    position: relative;
    top:-4px;
    margin:0;
    padding:0;
    font-family:微软雅黑;
    color:#E5E5E5;
    background-color: white;
}
.news_body a,.news_body a:link,.news_body a:visited{
    color: inherit;
    text-decoration: none;
}
.news_body .container{
    top: 100px;
}
img{display:block; margin:0; padding:0; border:none;}
.clear{clear:both;}
br.clear{clear:both; margin-top:-15px;}
a{outline:none; text-decoration:none;}
.fl_left{float:left;}
.fl_right{float:right;}
div.wrapper{
    display:block;
    width:100%;
    margin:0;
    text-align:left;
}
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{
    margin:0 0 15px 0;
    padding:0;
    font-size:20px;
    font-weight:normal;
    line-height:normal;
}
.col1{color:black; }
.col4{color: #5d5d5d;border-bottom:1px solid #8b8b8b;}
.news_body .col4 a{
    color: black;
}
.col5{color:black;}
.col6{color:black;border-top:1px solid #8b8b8b; border-bottom:1px solid #8b8b8b;}
#header,#container, .gallery, #footer{
    position:relative;
    top: 20px;
    margin:0 auto 0;
    display:block;
    width:960px;
}
#header{
    top: -10px;
    padding:2px 0 20px 0;
}

#header .fl_left{
    display:block;
    float:left;
    margin-top:17px;
    overflow:hidden;
}

#header .fl_right{
    display:block;
    float:right;
    width:468px;
    height:60px;
    margin-top:21px;
    overflow:hidden;
}
#header h1, #header p, #header ul{
    margin:0;
    padding:0;
    list-style:none;
    line-height:normal;
}
#header h1 a{
    font-size:36px;
}
#header .fl_left p{
    margin-top:5px;
}
#breadcrumb ul{
    margin:0;
    padding:0;
    list-style:none;
}
#breadcrumb ul li{display:inline;}
#breadcrumb ul li.current a{text-decoration:underline;}
.gallery{
    padding:20px 0 30px 0;
}
.wrapper .gallery h2{
    display:block;
    text-align:center;
    margin:0 0 20px 0;
    padding:0;
    color:#2C2C2C;
    background-color:#000000;
    font-size:86px;
    text-transform:uppercase;
    line-height:normal;
}
.gallery ul{
    display:inline;
    margin:0;
    padding:0;
    list-style:none;
}
.gallery ul li{display:block; float:left; margin:0 10px 10px 0;}
.gallery ul li img{padding:4px; border:1px solid #8b8b8b;}
.gallery ul li.last{margin-right:0;}
#container{
    padding:30px 0;
}
#content{
    display:block;
    float:left;
    width:630px;
}
#featured_post{margin-bottom:45px;}
#featured_post img{
    display:block;
    width:630px;
    height:270px;
    margin:0;
}
#hpage_latest{
    display:block;
    width:100%;
}
#hpage_latest ul{
    margin:0;
    padding:0;
    list-style:none;
    display:inline;
}
#hpage_latest li{
    display:block;
    float:left;
    width:195px;
    margin:0 15px 0 0;
    padding:0;
}
#hpage_latest li.last{
    margin-right:0;
}
#hpage_latest img{
    margin:0;
    padding:4px;
    border:1px solid #cecece;
}
#hpage_latest .readmore{
    text-align:right;
}
#comments .commentlist ul{margin:0; padding:0; list-style:none;}
#comments .commentlist li.comment_odd a{color:black;}
#comments .commentlist li.comment_even a{color:#8b8b8b;}
#comments .commentlist p{margin:10px 5px 10px 0; padding:0; font-weight: normal;text-transform: none;}
#column{
    display:block;
    float:right;
    width:300px;
}
#column .holder p{
    line-height:1.6em;
}
#column h2{
    font-size:20px;
}
#column .holder h2.title img{
    float:left;
    margin:-15px 8px 0 0;
    padding:5px;
    border:1px solid #666666;
}
#column .holder p.readmore{
    display:block;
    width:100%;
    font-weight:bold;
    text-align:right;
    line-height:normal;
}
#column #featured a{
    color:#cecece;
}
#column #featured ul, #column #featured h2, #column #featured p{
    margin:0;
    padding:0;
    list-style:none;
}
#column #featured li{
    display:block;
    width:250px;
    margin:0;
    padding:20px 25px;
    color:black;
}
#column #featured li p{
    line-height:1.6em;
}
#column #featured li h2{
    margin:0;
    padding:0 0 14px 0;
    font-size:20px;
    font-weight:normal;
    font-family:Georgia, "Times New Roman", Times, serif;
    color:black;
    line-height:normal;
    border-bottom:1px dashed #666666;
}
#column #featured p.readmore{
    display:block;
    width:100%;
    margin-top:15px;
    font-weight:bold;
    text-align:right;
    line-height:normal;
}
#column #latestnews{
    display:block;
    width:100%;
    margin:0;
    padding:0;
    list-style:none;
}
#column #latestnews li{
    display:block;
    width:100%;
    min-height:99px;
    margin:0 0 25px 0;
    padding:0 0 15px 0;
    border-bottom:1px dotted #C7C5C8;
    overflow:hidden;
}
#column #latestnews li.last{
    padding-bottom:0;
    margin-bottom:0;
    border-bottom:none;
}
#column #latestnews p{
    display:inline;
}
#column #latestnews p strong{
    display:block;
    margin-bottom:5px;
}
#column #latestnews img{
    float:left;
    margin:0 10px 0 0;
    padding:4px;
    border:1px solid #8b8b8b;
    clear:left;
}
#footer{
    padding:30px 0;
}
#footer h2, #footer p, #footer ul, #footer a{
    margin:0;
    padding:0;
    font-weight:normal;
    list-style:none;
    line-height:normal;
}
#footer h2{
    padding:0 0 5px 0;
    color:black;
    border-bottom:1px dotted #585858;
    font-size:16px;
    font-weight:bold;
    margin-bottom:20px;
}
#footer li{
    margin-bottom:15px;
}
#footer .footbox{
    display:block;
    float:left;
    width:210px;
    margin:0 40px 0 0;
    padding:0;
}
#footer .flickr li{
    display:block;
    float:left;
    width:80px;
    height:80px;
    margin:0 7px 15px 7px;
    padding:4px;
    border:1px solid #8b8b8b;
}
#footer .banners li{
    display:block;
    width:200px;
    height:150px;
    margin:0 0 15px 0;
    padding:4px;
    border:1px solid #8b8b8b;
}
#footer .last{
    margin:0;
}
#featured_post .news_banner{
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 630px;
}
#featured_post .news_banner ul{
    margin: 0;
    padding: 0;
    width: 3200px;
    height:370px;
}
#featured_post .news_banner ul li{
    float: left;
    width:630px;
    list-style:none;
}
#featured_post .news_button_right,.news_button_left{
    width: 20px;
    height: 40px;
    background: rgba(225,225,225,0.8);
    font:bold 24px 宋体;
    position: absolute;
    top: 50%;
    margin-top:-70px;
    color: black;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.news_button_right{
    left: 0;
}
.news_button_left{
    right:0;
}
#footer .twitter ul li a{
    color: orangered;
}
.news_body{
    background: url("../images/news_bg.jpg");
}
.hover_change{
    cursor: pointer;
}
.hover_change:hover{
    color: #959595;
}
#table_bg table{
    height: 800px;
    overflow:scroll;
}
#news_add{
    position: absolute;
    top: 100px;
    left: 500px;
    width: 300px;
    height: 340px;
    border: 1px solid black;
    background: white;
    border-radius: 6px;
    display: none;
}
#news_add button{
    position: relative;
    left: 80px;
    cursor: pointer;
}
#news_add label{
    margin-left: 15px;
}
.out{
    position: absolute;
    top: 2px;
    right: 6px;
    font: 16px 微软雅黑;
    cursor: pointer;
}
#good_add{
    position: absolute;
    top: 100px;
    left: 500px;
    width: 300px;
    height: 420px;
    border: 1px solid black;
    background: white;
    border-radius: 6px;
    display: none;
}
#good_add button{
    position: relative;
    left: 120px;
    cursor: pointer;
}
#good_add label{
    margin-left: 15px;
}
